{%extends './base.html'%}


{% block content %}




<h1>To Do list</h1>



<a href={%url 'task-create' %}>
    <h2> Add &#9547;</h2>
</a>
<div class ="grid">
    <div></div>
    <div></div>
    <div></div>
    

<form action="" method="get">

    <input type="submit" value="Search"> <input type="text" name="search-area" value="{{search_input}}">
</form>

</div>

{% comment %} <ul> {% endcomment %}
   
    {%for item in tasks %}
    <div class="row container">
    
        <div class="collapsible col col-12">
          <input id="collapsible{{item.id}}" type="checkbox" name="collapsible">
          <label for="collapsible{{item.id}}" ><strong> <h3> {{item.title}}</h3></strong>{%if item.complete%}<span class="badge success">Done</span>{%endif%} </label>
          <div class="collapsible-body  row">
            
            <span  class="text-muted col col-8" >{{item.description}} </span>

            <span class="col"><a href="{% url 'task-update' item.id %}" class=" text-primary"> Edit </a></span>
            <span class="col"><a href="{% url 'task-delete' item.id %}" class=" text-danger"> Delete </a></span>


        

          </div>
        </div>
    </div>
        {%endfor%}
    

    {% comment %} <div class="grid">
    <a href="{%url 'task' item.id %}">
        <li><h2><strong>{{item.title}}</strong></li></h2>
    </a>
    <div></div>
    <div></div>

        <a href="{% url 'task-update' item.id %}"> &#9998; </a>
        <a href="{% url 'task-delete' item.id %}"> &#10060; </a>
    </div>

    <hr>
    {%endfor%}
</ul> {% endcomment %}
{%endblock%}